/*Propiedades generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Aqui se edita todo el cuerpo de la pagina pets*/
body{
    /*Aqui se edita la seccion que contiene las imagenes*/
    section{
        background-color: blueviolet;
        color: white;
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /*Aqui se edita el div para las imagenes*/
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        /*Aqui se editan las imagenes en especifico*/
        
            .img-pets{
                
                max-width: 50%;
                height: auto;
                border: 2px solid red;
                margin-top: 10px;
                margin-bottom: 5px;
            }
            
           
        
    }

}