*{
    
    padding: 0;
    box-sizing: border-box;
}
/*Aqui se edita todo el header*/
.navbar{

    display: flex;
    justify-content: space-between; 
    align-items: center;          
    padding: 10px 20px; /*Margenes de la navbar (10px --> Arriba/Abajo) (20px --> Derecha/Izquierda)*/
    margin: -10px;
    background-color: #333;        
    color: white;

    
}
/*Aqui se modifica unicamente el logo del navbar*/
.Logo img{
    height: 35px;
    width: 35px;
}

body{
    background-color: blueviolet;
    color: white;
}
/*-----------------------------------------------------------------------------*/
/*Aqui se editan los links de la navbar*/
.links {
    display: flex;
    gap: 20px;  
                 
}
/*Aqui se modifica los links en especifico*/
.links a{
    
    color: white;
}
/*------------------------------------------------------------------------------*/
/*Aqui se modifica la parte 1 (Primer fondo con texto) de la pagina*/
.Parte1{
    color: white;
    /*background-image: url("https://img.freepik.com/vector-premium/futurista-abstracto-fondo-tecnologia-purpura-negro-juegos-esports-banner-ilustracion-vectorial_180969-1204.jpg");*/
    font-size: 40px;
    text-align: center;
    margin: -54px;
    
}
/*Aqui se modifica el contenedor principal*/
.Contenedor_Principal{
    display: grid; /*Convierte el contenedor en una cuadricula, haciendo que los elementos se aomoden en filas y columnas*/
     /* Divide en 2 columnas: la 1ra ocupa el 35% y la 2da el resto (1fr) */
    grid-template-columns: 35% 1fr; 
    gap: 20px; 
    padding: 20px;
   
}

/*Aqui se modifica la imagen principal 1*/
.Imagen1{
    display: grid; /*Sirve para modificar la informacion en filas y columnas*/
    grid-template-rows: auto auto; /* Sirve para establecer cuántas filas tendrá tu diseño y qué altura tendrá cada una.*/
    gap: 10px;
}

/*Aqui se modifica las imagenes secundarias*/
.Imagenes_Secundarias1{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos fotos pequeñas abajo */
    gap: 10px;

}
/*NO TOCAR (Aqui se modifican las imagenes para que tengan el tamaño y la forma adecuados*/
img {
  /* Hace que la imagen ocupe todo el ancho disponible de su contenedor */
  width: 100%;

  /* Mantiene la proporción original para que la imagen no se vea estirada */
  height: 330px;

  /* Redondea las esquinas de la imagen (8 píxeles de curvatura) */
  border-radius: 8px; 

  /* Recorta la imagen para que rellene el espacio asignado sin deformarse */
  object-fit: cover;
}

/*Aqui se modifica el contenedor secundario*/
.Contenedor_Secundario{
    display: grid;
     
    grid-template-columns: 35% 1fr; /* Divide en 2 columnas: la 1ra ocupa el 35% y la 2da el resto (1 fraccion(Unidad de medida flexible) */
    gap: 20px; 
    padding: 20px;
   
}

/*Aqui se modifica el tercer contenedor */
.Contenedor_Terciario{
    text-align: center;
}
/*Aqui se edita el cuarto contenedor en general*/
.Cuarto_Contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1890px;
    background-color: white;
    color: black;
    
    
}
/*Aqui se edita los div (mini contenedores) para los logos*/
.Cuarto_Contenedor div{
    border-radius: 50% / 40% ;
    display: inline-block;
    max-width: 550px;
    background-color: blanchedalmond;

}
/*Aqui se editan los logos*/
.Cuarto_Contenedor div img{
    height: 50px;
    width: 100px;
}

/*--------------------------------------------*/
/*Aqui se edita el footer*/
